@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


body {
    font-family: 'Nunito';
}

/* main {
    background: url("https://images6.alphacoders.com/117/1175283.jpg") no-repeat center center;
    background-size: cover;
    height: 110vh;
}  */

/* HEADER NAVBAR LINKS*/

.nav-link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 4px;
    transition: 3s;
    position: relative;
    font-family: 'Nunito';
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: #ffdf00;
    height: 3px;
    bottom: -1px;
    width: 0;
    left: 0;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}


nav img {
   width: 60px;
}
/* -------- */

/* BOTÃO CADASTRAR */
.button_login button {
    background-color: #ffdf00;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.button_login button a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    background-color: #ffdf00;
    letter-spacing: 3px;
}

.button_login li {
    letter-spacing: 3px;
    margin-right: 3px;
    padding: 10px;
}

.button_login {
    display: flex;
    list-style: none;
}

/* --------- */

/* NAVBAR LIST */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito';
    background: #23232e;
    height: 12vh;
}


.nav-list {
    list-style: none;
    display: flex;
    color: white;
} 

.nav-list li {
    letter-spacing: 3px;
    margin-left: 80px;
}
/* -------- */

/* MENU MOBILE */

.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: .3s;
}

  

/* -------- */

/* TÍTULO HOME */

.titulo-home {
    /* background: rgba(255, 255, 255, .4); */
    background-color: #ffdf00;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 12vh;
}
.titulo-home h1 {
    padding: 0.9rem;
}
/* -------- */


 /* MEDIA SCREEN RESPONSIVIDADE */

 @media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 12vh;
        right: 0;
        left: 0;
        width: 100vw 100vw;
        height: 40vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        opacity: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border: 1px solid #ffdf00;
        
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .nav-list.active {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 999px) {
    .section-1 div p {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    .section-1 div h1 {
        font-size: 1.8rem;
    }
    .titulo-home {
        font-size: 1.1rem;
    }
    .section-1 div img {
        margin: 1rem 0rem;
        max-width: 800px;
        max-height: 400px;
    }
}

@media screen and (max-width: 530px) {
    .section-1 div img {
        margin: 0;
        padding: 0.8rem 0;
        max-width: 420px;
        max-height: 300px;
    }
}
    
/* ------- */

/* MENU MOBILE */


/* --------- */
 /* RESPONSIVIDADE TELA DE CADASTRO */
 @media screen and (max-width: 768px) {

    .login-card {
        width: 250px;
        padding: 3rem;
        margin-left: 1rem;
    }
    .inputUser {
        width: 72%;
    }
    .login-card div button {
        width: 106%;
    }

}
/* ---------- */

/* RESPONSIVIDADE BOTÃO CADASTRAR */
@media screen and (max-width: 420px) {
    .button_login button a {
        font-size: 0.8rem;
    }
    .button_login button {
        padding: 10px;
        margin: 2px;
    }
    .section-1 div img {
        margin: 0;
        padding: 1rem 0;
        max-width: 335px;
        max-height: 240px;
    }
    .titulo-home h1 {
        font-size: 1.4rem;
    }
    .section-1 div p {
        font-size: 0.9rem;
    }
    .section-1 div h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 330px) {
  nav img  {
    width: 50px;

  }
  .titulo-home h1 {
    font-size: 1.1rem;
  }
  .button_login li a {
    font-size: 0.8rem;
  }
  .button_login button {
    padding: 5px;
}
  .section-1 div img {
    max-width: 260px;
    max-height: 200px;
  }
  .section-1 div p {
    font-size: 0.8rem;
  }
  .section-1 div h1 {
    font-size: 0.9rem;
  }
}



 /* ANIMAÇÕES MENU MOBILE */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px); 
}
/* --------- */


/* SECTION HOME  */
.section-1 img {
    margin: 2rem 15rem;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 460px;
    border-radius: 0.5rem;
}


.section-1 {
    align-items: center;
    padding: 2rem;  
}

.section-1 p {
    font-size: 1.1em;
    line-height: 2rem;
    text-align: initial;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.5rem;
    color: black;
}

.section-1 h1 {
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.section-1 div {
    width: 100%;
}

/* -------- */

/* CSS FORMULÁRIO DE CADASTRO */

  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    background: rgba(255, 255, 255, .4);
    padding: 20px;
    border-radius: 5px;
  }
  
  .h2-login {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
  }
   
  .h1-login {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, .6);
  }
  
  .btn-login {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fee100;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn-login:hover {
    background-color: #ffd700;
  }
  


footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    width: 100%;
  }

  footer div img {
    width: 45px;
  }

  /* Estilos para tornar o footer responsivo */
  @media screen and (max-width: 600px) {
    footer {
      font-size: 12px;
    }
  }

/* --------- */