@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

body {
    font-family: 'Kanit'; 
}

/* main {
    background: url("https://images6.alphacoders.com/117/1175283.jpg") no-repeat center center;
    background-size: cover;
    height: 110vh;
}  */

/* HEADER NAVBAR LINKS*/

.nav-link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 4px;
    transition: 3s;
    position: relative;
    font-family: 'Kanit';
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: #ffdf00;
    height: 3px;
    bottom: -1px;
    width: 0;
    left: 0;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}


nav img {
   width: 60px;
}
/* -------- */

/* BOTÃO CADASTRAR */
#link-entrar, #link-login, #button-login {
  display: none;
}

.button_login button {
  background-color: #ffdf00;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

.button_login button a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  background-color: #ffdf00;
  letter-spacing: 3px;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
}


#button-login {
    background-color: #ffdf00;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    width: 80%;
}

#link-login {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    background-color: #ffdf00;
    letter-spacing: 3px;
    border: none;
    padding: 10px 5px;
    border-radius: 15px;
    font-family: 'Kanit', sans-serif;
}

.button_login li {
    letter-spacing: 3px;
    margin-right: 3px;
    padding: 10px;
    list-style: none;
}

.button_login {
  display: flex;

}



/* --------- */

/* NAVBAR LIST */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito';
    background: #23232e;
    height: 12vh; 
    padding: 0.5rem 1.5rem;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}


.nav-list {
    list-style: none;
    display: flex;
    color: white;
} 

.nav-list li {
    letter-spacing: 3px;
    margin-left: 80px;
}
/* -------- */

/* MENU MOBILE */

.mobile-menu{
    cursor: pointer;
    display: none;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: .3s;
}

  

/* -------- */

/* TÍTULO HOME */
.titulo-home h1 {
    font-size: 2.3rem;
}
.titulo-home {
    /* background: rgba(255, 255, 255, .4); */
    background-color: #ffdf00;
    text-align: center;
    width: 100%;
    height: 10vh;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}
.titulo-home h1 {
    padding: 0.5rem;
}
/* -------- */


 /* MEDIA SCREEN RESPONSIVIDADE */

 @media (max-width: 1250px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100vw;
        height: 90vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        opacity: 0;
        transition: .3s ease-in;
        padding-top: 3rem;
    }
    .nav-list li {
      margin-left: 0;
       
    }
    .mobile-menu {
        display: block;
    }
    #link-entrar, #link-login, #button-login {
      display: block;
    }
    .button_login {
      display: none;
    }
    .nav-list.active {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1010px) {
    section.section-1 {
        padding: 3rem 4rem;
    }
    .section-1 div img {
        max-width: 100%;
        max-height: 300px;
    }
    div.titulo-home h1 {
      font-size: 1.6rem;
    }
}
@media screen and (max-width: 760px) { 
  div.titulo-home h1 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1100px) {
    .section-1 div p {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    .section-1 div h1 {
        font-size: 1.8rem;
    }
    .titulo-home h1 {
        font-size: 2rem;
    }
    .slider {
      height: 420px;
    }
    section.section-slider {
      padding: 1.5rem 1.5rem;
      height: 70vh;
    }
    div.nav-manual {
      display: none;
    }
    section.section-home2 {
      padding: 2rem 8rem;
    }
    section.section-home2 h1 {
      font-size: 2rem;
    }
    section.section-home2 p {
      font-size: 1.3rem;
    }
    section.section-home3 {
      align-items: center;
      padding: 2rem 8rem;  
      display: flex;
      gap: 2rem;
      background-color: #23232e;
    }
    
    section.section-home3 p {
      padding-top: 0.1rem;
      font-size: 1.3rem;
      line-height: 2.3rem;
      font-family: 'Kanit', sans-serif;
      color: #fff;
      text-align: justify;
    }
    
    section.section-home3 img {
      width: 50%;
      max-width: 100%;
      max-height: 650px;
      border-radius: 5px;
      box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    }
    
    section.section-home3 h1 {
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
      color: #fff;
    }
}
section.section-home4 {
  align-items: center;
  padding: 2rem 8rem;  
  display: flex;
  gap: 2rem;
  background-color: #23232e;
}

section.section-home4 p {
  padding-top: 0.1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #fff;
  text-align: justify;
}

section.section-home4 img {
  width: 50%;
  max-width: 100%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

section.section-home4 h1 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
}
section.section-home5 {
  align-items: center;
  padding: 2rem 8rem;  
  display: flex;
  gap: 2rem;
  background-color: #23232e;
}

section.section-home5 p {
  padding-top: 0.1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #fff;
  text-align: justify;
}

section.section-home5 img {
  width: 50%;
  max-width: 100%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

section.section-home5 h1 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
}
section.section-home6 {
  align-items: center;
  padding: 2rem 8rem;  
  display: flex;
  gap: 2rem;
  background-color: #23232e;
}

section.section-home6 p {
  padding-top: 0.1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #fff;
  text-align: justify;
}

section.section-home6 img {
  width: 50%;
  max-width: 100%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

section.section-home6 h1 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
}
section.section-home-bv {
  align-items: center;
  padding: 2rem 8rem;  
  display: flex;
  gap: 2rem;
  background-color: #fff;
}

section.section-home-bv p {
  padding-top: 0.1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #000;
  text-align: justify;
}

section.section-home-bv img {
  width: 50%;
  max-width: 100%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

section.section-home-bv h1 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #000;
}

@media screen and (max-width: 999px) {
.slider {
    height: 300px;
}
  section.section-slider {
    padding: 1rem 1.5rem;
    height: 55vh;
  }
  div.nav-manual {
    display: none;
  }
  section.section-home2 {
    padding: 1rem 4rem;
  }
  section.section-home2 h1 {
    font-size: 2rem;
    padding: 1rem 0;
  }
  section.section-home2 p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  section.section-home3 {
    padding: 2rem 4rem;
    flex-wrap: wrap;
  }
  section.section-home3 h1 {
    font-size: 2rem;
  }
  section.section-home3 p {
    font-size: 1.5rem;
  }
  section.section-home3 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home4 {
    padding: 2rem 4rem;
    flex-wrap: wrap-reverse;
  }
  section.section-home4 h1 {
    font-size: 2rem;
  }
  section.section-home4 p {
    font-size: 1.5rem;
  }
  section.section-home4 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home5 {
    padding: 2rem 4rem;
    flex-wrap: wrap;
  }
  section.section-home5 h1 {
    font-size: 2rem;
  }
  section.section-home5 p {
    font-size: 1.5rem;
  }
  section.section-home5 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home6 {
    padding: 2rem 4rem;
    flex-wrap: wrap-reverse;
  }
  section.section-home6 h1 {
    font-size: 2rem;
  }
  section.section-home6 p {
    font-size: 1.5rem;
  }
  section.section-home6 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home-bv {
    padding: 1rem 4rem;
  }
  section.section-home-bv h1 {
    font-size: 2rem;
  }
  section.section-home-bv p {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 610px) {
  section.section-1 h1 {
    font-size: 1.4rem;
  }
    .section-1 div img {
        margin: 0;
        padding: 0.3rem 0;
        max-width: 100%;
        max-height: 300px;
    }
    section.section-1 {
        padding: 2rem 2rem;
    }
    .section-1 div p {
        font-size: 1.1rem;
    }
    div.titulo-home h1 {
    font-size: 1.2rem;
    }
    .slider {
      height: 220px;
    }
    section.section-slider {
      padding: 1rem 1rem;
      height: 40vh;
    }
    div.nav-manual {
      display: none;
    }
    section.section-home2 {
      padding: 1rem 1rem;
    }
    section.section-home2 h1 {
      font-size: 1.8rem;
    }
    section.section-home2 p {
      font-size: 1.2rem;
    }
    section.section-home3 {
      padding: 1rem 1rem;
      flex-wrap: wrap;
    }
    section.section-home3 h1 {
      font-size: 1.6rem;
    }
    section.section-home3 p {
      font-size: 1.2rem;
    }
    section.section-home3 img {
      width: 100%;
      max-width: 100%;
      max-height: 650px;
      border-radius: 5px;
      box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
      margin-top: 1rem;
    }
    section.section-home4 {
      padding: 1rem 1rem;
      flex-wrap: wrap-reverse;
    }
    section.section-home4 h1 {
      font-size: 1.6rem;
    }
    section.section-home4 p {
      font-size: 1.2rem;
    }
    section.section-home4 img {
      width: 100%;
      max-width: 100%;
      max-height: 650px;
      border-radius: 5px;
      box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
      margin-top: 1rem;
    }
    section.section-home5 {
      padding: 1rem 1rem;
      flex-wrap: wrap;
    }
    section.section-home5 h1 {
      font-size: 1.6rem;
    }
    section.section-home5 p {
      font-size: 1.2rem;
    }
    section.section-home5 img {
      width: 100%;
      max-width: 100%;
      max-height: 650px;
      border-radius: 5px;
      box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
      margin-top: 1rem;
    }
    section.section-home6 {
      padding: 1rem 1rem;
      flex-wrap: wrap-reverse;
    }
    section.section-home6 h1 {
      font-size: 1.6rem;
    }
    section.section-home6 p {
      font-size: 1.2rem;
    }
    section.section-home6 img {
      width: 100%;
      max-width: 100%;
      max-height: 650px;
      border-radius: 5px;
      box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
      margin-top: 1rem;
    }
    section.section-home-bv {
      padding: 1rem 1rem;
    }
    section.section-home-bv h1 {
      font-size: 1.6rem;
    }
    section.section-home-bv p {
      font-size: 1.2rem;
    }
}
    
/* ------- */

/* ---------- */
@media screen and (max-width: 380px) {
  .slider {
    max-width: 100%;
    height: 210px;
  }
  section.section-slider {
    padding: 1rem 1rem;
    height: 30vh;
  }
}
@media screen and (max-width: 420px) {

    #link-login {
    padding: 5px 5px;
    }
    nav {
    justify-content: space-between;
    padding: 0 1rem;
    }
    nav img {
      width: 45px;
    } 
    .section-1 div img {
        margin: 0;
        padding: 0.3rem 0;
        max-width: 100%;
        max-height: 240px;
    }
    div.titulo-home h1 {
        font-size: 1.1rem;
    }
    .section-1 div p {
        font-size: 0.9rem;
    }
    .section-1 div h1 {
        font-size: 1rem;
    }
  
    section.section-1 {
        padding: 2rem 1rem;
    }
    .button_login button {
      padding: 2px;
  }
  .slider {
    max-width: 100%;
    max-height: 650px;
  }
  section.section-slider {
    padding: 1rem 1rem;
    height: 35vh;
  }
  div.nav-manual {
    display: none;
  }
  section.section-home2 {
    padding: 1rem 1rem;
  }
  section.section-home2 h1 {
    font-size: 1.6rem;
  }
  section.section-home2 p {
    font-size: 1.2rem;
  }
  section.section-home3 {
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }
  section.section-home3 h1 {
    font-size: 1.6rem;
  }
  section.section-home3 p {
    font-size: 1.1rem;
  }
  section.section-home3 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home4 {
    padding: 1rem 1rem;
    flex-wrap: wrap-reverse;
  }
  section.section-home4 h1 {
    font-size: 1.6rem;
  }
  section.section-home4 p {
    font-size: 1.1rem;
  }
  section.section-home4 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home5 {
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }
  section.section-home5 h1 {
    font-size: 1.6rem;
  }
  section.section-home5 p {
    font-size: 1.1rem;
  }
  section.section-home5 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home6 {
    padding: 1rem 1rem;
    flex-wrap: wrap-reverse;
  }
  section.section-home6 h1 {
    font-size: 1.6rem;
  }
  section.section-home6 p {
    font-size: 1.1rem;
  }
  section.section-home6 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home-bv {
    padding: 1rem 1rem;
  }
  section.section-home-bv h1 {
    font-size: 1.6rem;
  }
  section.section-home-bv p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 330px) {
    section.section-1 {
        padding: 0.7rem 1rem;
    }
    div.img-home2 {
        height: 150px;
        width: 100%;
    }
    .section-1 div span {
        font-size: 8px;
    }
    nav {
      justify-content: space-between;
      padding: 0 1rem;
    }
  div.titulo-home h1 {
    font-size: 1.1rem;
  }
  .button_login li a {
    font-size: 0.8rem;
  }
  .button_login button {
    padding: 0;
}

  .section-1 div img {
    max-width: 100%;
    max-height: 200px;
  }
  .section-1 div p {
    font-size: 0.8rem;
  }
  .section-1 div h1 {
    font-size: 0.9rem;
  }
  .slider {
    height: 220px;
  }
  section.section-slider {
    padding: 2rem 1rem;
    height: 30vh;
  }
  div.nav-manual {
    display: none;
  }
  section.section-home2 {
    padding: 1rem 1rem;
  }
  section.section-home2 h1 {
    font-size: 1.6rem;
  }
  section.section-home2 p {
    font-size: 1.1rem;
  }
  section.section-home3 {
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }
  section.section-home3 h1 {
    font-size: 1.6rem;
  }
  section.section-home3 p {
    font-size: 1rem;
  }
  section.section-home3 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home4 {
    padding: 1rem 1rem;
    flex-wrap: wrap-reverse;
  }
  section.section-home4 h1 {
    font-size: 1.6rem;
  }
  section.section-home4 p {
    font-size: 1rem;
  }
  section.section-home4 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home5 {
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }
  section.section-home5 h1 {
    font-size: 1.6rem;
  }
  section.section-home5 p {
    font-size: 1rem;
  }
  section.section-home5 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home6 {
    padding: 1rem 1rem;
    flex-wrap: wrap-reverse;
  }
  section.section-home6 h1 {
    font-size: 1.6rem;
  }
  section.section-home6 p {
    font-size: 1rem;
  }
  section.section-home6 img {
    width: 100%;
    max-width: 100%;
    max-height: 650px;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }
  section.section-home-bv {
    padding: 1rem 1rem;
  }
  section.section-home-bv h1 {
    font-size: 1.6rem;
  }
  section.section-home-bv p {
    font-size: 1rem;
  }
}



 /* ANIMAÇÕES MENU MOBILE */
/* @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */


.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px); 
}
/* --------- */


/* SECTION HOME  */
.section-1 img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 650px;
    vertical-align: middle;
}


.section-1 {
    align-items: center;
    padding: 3rem 15rem;  
}

.section-1 p {
    padding-top: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: 'Kanit', sans-serif;
    color: black;
    text-align: justify;
}

.section-1 h1 {
    padding-bottom: 1rem;
    font-size: 1.8rem;
}

.section-1 div {
    width: 100%;
}

.section-home2 {
  align-items: center;
  padding: 3rem 15rem;  
}

.section-home2 p {
  padding-top: 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: 'Kanit', sans-serif;
  color: black;
  text-align: justify;
}

.section-home2 img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 650px;
  vertical-align: middle;
}


.section-home2 h1 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.section-home3 {
  align-items: center;
  padding: 2rem 15rem;  
  display: flex;
  gap: 2rem;
  background-color: #23232e;
}

.section-home3 p {
  padding-top: 1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #fff;
  text-align: justify;
}

.section-home3 img {
  width: 50%;
  max-width: 100%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

.section-home3 h1 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.section-home4 {
  align-items: center;
  padding: 2rem 15rem;  
  display: flex;
  gap: 2rem;
  background-color: #23232e;
}

.section-home4 p {
  padding-top: 1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #fff;
  text-align: justify;
}

.section-home4 img {
  width: 50%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}


.section-home4 h1 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.section-home5 {
  align-items: center;
  padding: 2rem 15rem;  
  display: flex;
  gap: 2rem;
  background-color: #23232e;
}

.section-home5 p {
  padding-top: 1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #fff;
  text-align: justify;
}

.section-home5 img {
  width: 50%;
  max-width: 100%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}


.section-home5 h1 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.section-home6 {
  align-items: center;
  padding: 2rem 15rem;  
  display: flex;
  gap: 2rem;
  background-color: #23232e;
}

.section-home6 p {
  padding-top: 1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #fff;
  text-align: justify;
}

.section-home6 img {
  width: 50%;
  max-width: 100%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}


.section-home6 h1 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}





.section-home-bv {
  align-items: center;
  padding: 2rem 15rem;  
  display: flex;
  gap: 2rem;
  background-color: #fff;
}

.section-home-bv p {
  padding-top: 1rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Kanit', sans-serif;
  color: #000;
  text-align: justify;
}

.section-home-bv img {
  width: 50%;
  max-width: 100%;
  max-height: 650px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}


.section-home-bv h1 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #000;
}
/* -------- */

/* CSS FORMULÁRIO DE CADASTRO */

  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    background: rgba(255, 255, 255, .4);
    padding: 20px;
    border-radius: 5px;
  }
  
  .h2-login {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
  }
   
  .h1-login {
    text-align: center;
    margin-bottom: 18px;
    font-size: 25px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, .6);
  }
  
  .btn-login {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fee100;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn-login:hover {
    background-color: #ffd700;
  }
  


footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    width: 100%;
  }

  footer div img {
    width: 45px;
  }


  /* Estilos para tornar o footer responsivo */
  @media screen and (max-width: 600px) {
    footer {
      font-size: 12px;
    }
  }
  .span-home1 {
    background: rgb(226, 226, 231); 
    padding: 12px; 
    display: block; 
    font-size: 14px; 
    line-height: 20px;
}

  /* Estilos CSS para tornar a tabela responsiva */
  table {
    max-width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  /* Estilos CSS para tornar a tabela mais legível */
  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* Estilos CSS para tornar a tabela responsiva em dispositivos móveis */
  @media screen and (max-width: 600px) {
    table, tr, td {
      display: block;
    }

    td {
      border: none;
      position: relative;
      padding: 0 10rem;
    }

    td:before {
      position: absolute;
      left: 6px;
      content: attr(data-label);
      font-weight: bold;
    }
  }
 
/* --------- */
 
/* SLIDE SHOW */
.section-slider {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-color: #292935;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

.slider {
  width: 100%;
  max-height: 458px;
  overflow: hidden;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
}

.slide {
  width: 500%;
  height: 400px;
  display: flex;
}

.slide input {
  display: none;
}

.st {
  width: 20%;
  transition: 2s;
}

.st img {
  width: 100%;
  height: 500px;
}

.nav-manual {
  position: absolute;
  width: 800px;
  margin-top: 370px;
  display: flex;
  justify-content: center;
  right: 50%;
  transform: translate(50%, 50%);
  gap: 1rem;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 3px;
  width: 50px;
  cursor: pointer;
  transition: 1s;
}

#radio1:checked ~.first {
  margin-left: 0;
}
#radio2:checked ~.first {
  margin-left: -20%;
}
#radio3:checked ~.first {
  margin-left: -40%;
}




/* -------- */
